//@mixin breakpoint($name) {
//  @if map-has-key($breakpoints, $name) {
//    @media  only screen and #{inspect(map-get($breakpoints, $name))} {
//      @content;
//    }
//  }
//  @else {
//    @warn "Couldn't find a breakpoint named `#{$name}`.";
//  }
//}

@mixin clear {
  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin clearfix {
  @include clear();
}

@mixin absolute-center {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  overflow: hidden;
}

@mixin ul_simple {
  padding:0;
  margin: 0;
  list-style: none;
  list-style-image:none;
  li {
    margin: 0;
    padding: 0;
    &:before {
      display: none;
    }
  }
}

@mixin link-color($color: $primary, $hover: $primary_hover) {
  color: $color;
  &:hover {
    color: $hover;
  }
}
