// Colors
$primary: #0099DA;
$primary_hover: #0068AA;

$grey_100: #1D1F20;
$grey_80: #2F3538;
$grey_60: #808890;
$grey_40: #BDC3C6;
$grey_20: #DEE1E3;
$grey: #F3F5F6;

$bg_blue: $primary;
$bg_grey: $grey;
$bg_white: #FFFFFF;
$bg_power_grey: #DEE1E3;
$bg_power_dark: #2F3538;
$inverted: #fff;

$orange: #FAAA00;
$red: #C82E2D;


$font: 'vw_text', sans-serif;
$font_head: 'vw_head', sans-serif;
$em_base: 10px;


// Layout
$header_mobile_h: 5rem;
$header_w:        9.6rem;
$radius: .4rem;


// Breakpoints
$mobile: new-breakpoint(min-width em(320px, 16px));
$fablet: new-breakpoint(min-width em(480px, 16px));
$tablet: new-breakpoint(min-width em(768px, 16px));
$laptop: new-breakpoint(min-width em(1024px, 16px));
$desktop: new-breakpoint(min-width em(1281px, 16px));
$widescreen: new-breakpoint(min-width em(1486px, 16px));
//$tractor: new-breakpoint(min-width em(1486px)); //http://www.tractordata.com/farm-tractors/000/3/7/373-international-harvester-1486-dimensions.html

//z-indexes
$z-layers: (
  'body',
  'header',
  'main-menu-sub',
  'main-menu',

  'ontop'
);

// transitions
$duration: .3s;
$trans_basis: cubic-bezier(0.645, 0.045, 0.355, 1);
$trans_enter: cubic-bezier(0.215, 0.61, 0.355, 1);
$trans_exit: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$trans_linear: linear;

//@warn $breakpoints;

//$breakpoints: (
//        's320':   ( max-width:  $breakpoint1 - 1 ),
//        's480':   ( max-width:  $breakpoint2 - 1 ),
//        's768':   ( max-width:  $breakpoint3 - 1 ),
//        's1024':   ( max-width:  $breakpoint4 - 1 ),
//        's1281':   ( max-width:  $breakpoint4 - 1 ),
//        's1486':   ( max-width:  $breakpoint4 - 1 ),
//
//        'b320':  ( min-width:  $breakpoint1 ),
//        'b480':  ( min-width:  $breakpoint2 ),
//        'b768':  ( min-width:  $breakpoint3 ),
//        'b1024':  ( min-width:  $breakpoint4 ),
//        'b1281':  ( min-width:  $breakpoint4 ),
//        'b1486':  ( min-width:  $breakpoint4 )
//);
