mixin radiobtn(label)
    label.radiobtn
        input.radiobtn__control(type='radio')&attributes(attributes)
        .radiobtn__mask
        if label
            span.radiobtn__title
                != label
