.input {
  display: inline-block;
  max-width: 100%;
  width: 100%;

  &__group {
    position: relative;
  }

  &__title {
    display: block;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  &__field {
    font-size: 1.4rem;
    line-height: 2.2rem;
    border-radius: $radius;
    height: 4.2rem;
    padding: .7rem 1.5rem;
    background: #fff;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: .1rem solid $grey_20;
    color: $grey_80;

    // TODO в гайдах фокуса нет вообще, так оставляем?
    &:focus {
      outline: $primary;
      border-color: $primary;
    }
  }

  &__icon + &__field {
    padding-left: 42px;
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 4.2rem;
    width: 4.2rem;
    font-size: 1.4rem;
    text-align: center;
    color: $grey_40;

    &::before {
      font-size: inherit;
      line-height: inherit;
    }
  }
}
