mixin input(title, placeholder, icon)
    - type= attributes.type || "text"

    label.input
        // TODO: add icon
        span.input__title
            != title
        .input__group
          if icon
            .hasicon.input__icon(class=`${icon}`)
          input.input__field(type=type, placeholder=placeholder)&attributes(attributes)
