@import "../../../globals/fonts/vw-webfont";
//@import "../../../globals/fonts/icon-common/stylesheet";
@import "../../../globals/fonts/vw_d5_icons/style";


@mixin hasicon_before {
  //font-size: 1rem;
  display: inline-block;

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vw_d5_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-decoration: none !important;
}



@mixin hasicon {
  position: relative;
  &:before {
    @include hasicon_before;
  }

}

@mixin hasicon_after {
  position: relative;
  &:after {
    @include hasicon_before;
  }
}

.hasicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: inherit;
  speak: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-variant: inherit;
  text-transform: inherit;
  line-height: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include hasicon;
}
