html {
  box-sizing: border-box;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  &.scroll-lock {
    overflow: hidden;
  }
}

a {
  @include link-color($primary, $primary_hover);
  text-decoration: none;
  cursor: pointer;
}

.page-wrapper {
  //margin-top: 5.0rem;

  @include media($tablet) {
    margin-top: 0;
    margin-left: 9.6rem;
  }
}


.container-fluid {
  padding-left: 2.0rem;
  padding-right: 2.0rem;
  @include clear;

  @include media($tablet) {
    padding-left: 5.0rem;
    padding-right: 5.0rem;
  }

  @include media($desktop) {
    padding-left: 6.0rem;
    padding-right: 6.0rem;
  }

  @include media($widescreen) {
    padding-left: 8.0rem;
    padding-right: 8.0rem;
  }
}

