// Typo
html {
  font-size: 10/16*100%;
}
body {
  color: $grey_80;
  font-family: $font;
  font-size: 1.6rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  color: $grey_100;
  margin: 0;
  font-family: $font_head;
  font-weight: bold;
}

// Headings

@mixin text-settings(
  $fz1: 3.0rem, $fz2: 3.6rem, $fz3: 4.5rem, $fz4: 6.0rem,
  $lh1: 3.3rem, $lh2: 3.9rem, $lh3: 4.8rem, $lh4: 6.5rem,
  $krn: -2.5px
) {
  font-size: $fz1;
  line-height: $lh1;
  letter-spacing: $krn;

  @include media($fablet) {
    font-size: $fz2;
    line-height: $lh2;
  }
  @include media($tablet) {
    font-size: $fz3;
    line-height: $lh3;
  }
  @include media($laptop) {
    font-size: $fz4;
    line-height: $lh4;
  }
}

h1, .h1 {
  @include text-settings(
    3.0rem, 3.6rem, 4.5rem, 6.0rem,
    1.15,   1.15,   1.15,   1.15,
    -.04em
  );
  font-weight: 600;
}

h2, .h2 {
  @include text-settings(
    2.3rem, 2.6rem, 3.5rem, 4.5rem,
    1.15,   1.15,   1.15,   1.15,
    -.04em
  );
  font-weight: 600;
}

h3, .h3 {
  @include text-settings(
    2.1rem, 2.1rem, 2.1rem, 2.8rem,
    1.2,    1.2,    1.2,    1.2,
    -.04em
  );
  font-weight: 600;
}

h4, .h4 {
  @include text-settings(
    1.8rem, 1.8rem, 1.8rem, 2.4rem,
    1.25,   1.25,   1.25,   1.2,
    -.04em
  );
  font-weight: 600;
}

h5, .h5 {
  @include text-settings(
    1.6rem, 1.6rem, 1.6rem, 1.8rem,
    1.25,   1.25,   1.25,   1.25,
    -.04em
  );
  font-weight: 600;
}

// Global font styles
%b1 {
  @include text-settings(
    1.5rem, 1.5rem, 1.5rem, 1.6rem,
    1.5,    1.5,    1.5,    1.5,
    0px
  );
}

%b2 {
  @include text-settings(
    1.4rem, 1.4rem, 1.4rem, 1.4rem,
    1.6,    1.6,    1.6,    1.6,
    0px
  );
}

%b3 {
  @include text-settings(
    1.4rem, 1.4rem, 1.4rem, 1.4rem,
    1.6,    1.6,    1.6,    1.6,
    0px
  );
  color: $grey_60;
}

%b4 {
  @include text-settings(
    1.1rem, 1.1rem, 1.1rem, 1.1rem,
    1.45,   1.45,   1.45,   1.45,
    0px
  );
  color: $grey_60;
}


// Lists
ul, ol {
  margin: 0;
  padding: 0 1.1em;
}
