// Helper functions


@mixin media($query: $feature $value) {
  @if length($query) == 1 {
    @media screen and ($default-feature: nth($query, 1)) {
      @content;
    }
  } @else {
    $loop-to: length($query);
    $media-query: "screen and ";

    @if is-not(is-even(length($query))) {
      @error 'Media must be even'
    }

    $i: 1;
    @while $i <= $loop-to {
      $media-query: $media-query + "(" + nth($query, $i) + ": " + nth($query, $i + 1) + ") ";

      @if ($i + 1) != $loop-to {
        $media-query: $media-query + "and ";
      }

      $i: $i + 2;
    }

    @media #{$media-query} {
      @content;
    }
  }
}


@function media-inverse($media) {
  $mq-lenght: length($media);
  @if $mq-lenght > 2 {
    @error inverting complex media not possible\. please past simple media
  }

  $media-feature: nth($media, 1);
  $media-value: nth($media, 2);

  @if $media-feature == min-width {
    $media-value: (($media-value * $em-base) - 1 ) / $em-base;
    $media-feature: max-width
  } @else if $media-feature == max-width {
    $media-value: (($media-value * $em-base) + 1 ) / $em-base;
    $media-feature: min-width
  } @else if $media-feature == min-height {
    $media-value: (($media-value * $em-base) - 1 ) / $em-base;
    $media-feature: max-height
  } @else if $media-feature == max-height {
    $media-value: (($media-value * $em-base) + 1 ) / $em-base;
    $media-feature: min-height
  }

  @return $media-feature $media-value;
}
