.vw_m502 {
  @include media($tablet) {
    position: fixed;
    width: $header_w;
    height: 100vh;
    height: 100%;
    z-index: z-index('main-menu');
  }

  a {
    color: $grey_60;
  }

  a:hover {
    color: $grey_100;
    .vw_m502_icon_wrapper {
      color: $primary;
    }
  }

  a:active {
    color: $primary;
  }
}

// nav
.vw_m502_main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header_mobile_h;
  background: $grey_20;
  z-index: z-index(ontop);
  transition: all .3s $trans_exit;
  transform: translateY(0);
  will-change: transform;
  @include media(media-inverse($tablet)) {
    &.slide-up {
      transform: translateY(-100%);
      transition: all .3s $trans_enter;

      + .vw_m502_more_sublayer {
        padding-top: 0;
      }
    }
  }

  @include media($tablet) {
    position: absolute;
    width: $header_w;
    top: 0;
    bottom: 0;
    height: 100vh;
    height: 100%;
    z-index: z-index('main-menu');
  }
}


// ul
.vw_m502_sections {
  @include ul_simple;
  background: $bg_white;
  height: $header_mobile_h;
  font-family: $font_head;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.3rem;
  letter-spacing: 0;
  overflow: hidden;

  @include media($tablet){
    height: 100%;
  }

  li {
    display: none;

    @include media($tablet) {
      display: block;
    }
  }

  // m501_logo container
  li:first-child {
    display: block;
  }
  li:first-child .vw_m502_btn_icon {
    @include media($tablet){
      display: block;
      height: auto;
      position: static;
      width: 100%;
    }
  }

  //li:not(:first-child) a {
  //  @include media($tablet){
  //    display: table-cell;
  //    vertical-align: middle;
  //    text-align: center;
  //    min-height: 8.5rem;
  //  }
  //}
}

// Mobile menu switcher
.vw_m502_mobile_switcher {
  position: absolute;
  right: 0;
  top: 0;
  height: $header_mobile_h;
  @include media($tablet) {
    display: none;
  }
  a {
    font-size: 2rem;
    line-height: $header_mobile_h;
    display: block;
    position: absolute;
    right: 0;
    padding-right: 2rem;
    padding-left: 2.5rem;
    height: 100%;
    color: $primary;
    cursor: pointer;

    &::before {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }

    &:last-child {
      display: none;
    }
  }
}

// Hidden submenu
// nav
.vw_m502_more_sublayer {
  position: fixed;
  left: 100%;
  right: -100%;
  padding: $header_mobile_h 2rem 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  transform: translate3d(0,0,0);
  height: 100%;
  z-index: z-index('main-menu-sub');
  transition-duration: $duration;
  transition-property: left, right;
  transition-timing-function: $trans_exit;
  box-sizing: border-box;
  visibility: hidden;

  @include media($tablet) {
    padding-top: 50px;
    width: 24.5rem;
    left: - 24.5rem + $header_w;
    right: auto;
    box-shadow: .5rem -1.0rem 2.0rem rgba(0,0,0,0.1);
    visibility: visible;
  }

  &.open {
    left: 0;
    right: 0;
    transition-duration: $duration;
    transition-property: left, right, transform;
    transition-timing-function: $trans_enter;
    border-left: 1px solid $grey_20;
    visibility: visible;

    @include media($tablet) {
      height: 100vh;
      height: 100%;
      left: $header_w;
    }
  }

  ul {
    @include ul_simple;
  }
}
