include ../m501_logo/index.pug
include ../m502_main_navigation_item/index.pug
include ../m502_main_navigation_sub_item/index.pug
include ../m601_search_input_field/index.pug

mixin m502_main_navigation(items)
    //- items = [
        ['#', 'title', 'icon'],
        ['#', 'title', 'icon']
        ]
    nav.vw_m502_main.js_header_menu
        ul.vw_m502_sections.js_m520_main_sections
            // Logo
            li
                .vw_m502_btn_icon
                    +m501_logo

            if items
                each item in items
                    +m502_main_navigation_item(item)

            //+m502_main_navigation_item(['#', 'Ещё', 'icon_icon-navigation-more'])(class='js_m502_menu_switcher')
        // Mobile menu switcher
        .vw_m502_mobile_switcher
            a.hasicon.icon_icon-navigation-menu.js_m502_mob_menu_switcher
            a.hasicon.icon_icon-navigation-close.js_m502_mob_menu_switcher

    nav.vw_m502_more_sublayer.container-fluid.js_m502_submenu
        +m601_search_input_field
        ul.js_m520_sublayer_sections
            //if items
                each item in items
                    +m502_main_navigation_sub_item(item)

