//
   Created by Kodix on 30.01.2017.

mixin m520_social_element(link, text, iconClass)
    .vw_m520_social_element
        a.vw_m520_links_url(href=link || '#', target='_blank')
            if iconClass
                span(class='hasicon vw_m520_social__icon', class=iconClass)
            span.vw_m520_hide.vw_m520_social_link_text
                !=text
