.btn {
  border-radius: $radius;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  height: 4.2rem;
  min-height: 4.2rem;
  display: inline-block;
  padding: .5rem .9rem .9rem;
  max-width: 19.8rem;
  width: 100%;
  background: #FFF;
  border: .1rem solid $grey_20;
  color: $primary;
  font-family: $font;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  overflow: hidden;

  &__text {
    line-height: 1.6rem;
    display: inline-block;
    vertical-align: middle;
  }

  &_cta {
    background: $primary;
    border-color: $primary;
    color: #FFF;
  }

  &:hover {
    background: $primary_hover;
    border-color: $primary_hover;
    color: #FFF;
  }

  &.disabled {
    background: $grey_40;
    border-color: $grey_60;
    color: mix($grey_80, $grey_20);
  }

  @include media($laptop){
    max-width: 19.8rem;
  }
}
