$icomoon-font-path: "fonts" !default;

$icon_odnoklassniki: "\e9bf";
$icon_california_specialist: "\e9b2";
$icon_new_cars_caddy_pkw_multivan_california: "\e9b3";
$icon_new_cars_utility_vehicles: "\e9b4";
$icon_used_cars_trade_port: "\e9b5";
$icon_VW_NGW_Icon_Kaufen: "\e9b6";
$icon_VW_NGW_Icon_Modelle: "\e9b7";
$icon_VWN_NGW_Icon_Gebrauchtwagen: "\e9b8";
$icon_VWN_NGW_Icon_Grossabnehmer: "\e9b9";
$icon_VWN_NGW_Icon_Konfigurieren: "\e9ba";
$icon_instagram: "\e9bb";
$icon_linkedin: "\e9bc";
$icon_pinterest: "\e9bd";
$icon_youtube: "\e9be";
$icon_icon-quickaccess-preowned: "\e928";
$icon_icon-quickaccess-print: "\e929";
$icon_icon-quickaccess-profile: "\e92a";
$icon_icon-quickaccess-question-mark: "\e92b";
$icon_icon-quickaccess-reload: "\e92c";
$icon_icon-quickaccess-responsibility: "\e92d";
$icon_icon-quickaccess-route: "\e92e";
$icon_icon-quickaccess-search: "\e92f";
$icon_icon-quickaccess-service: "\e930";
$icon_icon-quickaccess-share: "\e931";
$icon_icon-quickaccess-social-facebook: "\e932";
$icon_icon-quickaccess-social-googleplus: "\e933";
$icon_icon-quickaccess-social-twitter: "\e934";
$icon_icon-quickaccess-support: "\e935";
$icon_icon-quickaccess-testdrive: "\e936";
$icon_icon-quickaccess-trash: "\e937";
$icon_icon-quickaccess-upload: "\e938";
$icon_icon-quickaccess-video: "\e939";
$icon_icon-quickaccess-view: "\e93a";
$icon_icon-quickaccess-website: "\e93b";
$icon_icon-quickaccess-write: "\e93c";
$icon_icon-quickaccess-zoom-in: "\e93d";
$icon_icon-quickaccess-zoom-out: "\e93e";
$icon_icon-quickaccess-360: "\e93f";
$icon_icon-quickaccess-brochure: "\e940";
$icon_icon-quickaccess-business-customers: "\e941";
$icon_icon-quickaccess-calculator: "\e942";
$icon_icon-quickaccess-calendar: "\e943";
$icon_icon-quickaccess-car: "\e944";
$icon_icon-quickaccess-checkmark: "\e945";
$icon_icon-quickaccess-close: "\e946";
$icon_icon-quickaccess-compare: "\e947";
$icon_icon-quickaccess-configurator: "\e948";
$icon_icon-quickaccess-configure: "\e949";
$icon_icon-quickaccess-convince: "\e94a";
$icon_icon-quickaccess-corporate-topics: "\e94b";
$icon_icon-quickaccess-dealer: "\e94c";
$icon_icon-quickaccess-download: "\e94d";
$icon_icon-quickaccess-email: "\e94e";
$icon_icon-quickaccess-exclamation-mark: "\e94f";
$icon_icon-quickaccess-favourite: "\e950";
$icon_icon-quickaccess-fax: "\e951";
$icon_icon-quickaccess-filter: "\e952";
$icon_icon-quickaccess-get-your-volkswagen-1: "\e953";
$icon_icon-quickaccess-get-your-volkswagen-2: "\e954";
$icon_icon-quickaccess-home: "\e955";
$icon_icon-quickaccess-image: "\e956";
$icon_icon-quickaccess-image-gallery: "\e957";
$icon_icon-quickaccess-importer: "\e958";
$icon_icon-quickaccess-info: "\e959";
$icon_icon-quickaccess-locate-me: "\e95a";
$icon_icon-quickaccess-mail: "\e95b";
$icon_icon-quickaccess-more: "\e95c";
$icon_icon-quickaccess-news: "\e95d";
$icon_icon-quickaccess-offer: "\e95e";
$icon_icon-quickaccess-owners: "\e95f";
$icon_icon-quickaccess-phone: "\e960";
$icon_icon-quickaccess-pin: "\e961";
$icon_icon-nextstep-360: "\e962";
$icon_icon-nextstep-brochure: "\e963";
$icon_icon-nextstep-business-customers: "\e964";
$icon_icon-nextstep-calculator: "\e965";
$icon_icon-nextstep-calendar: "\e966";
$icon_icon-nextstep-calendar-export: "\e967";
$icon_icon-nextstep-car: "\e968";
$icon_icon-nextstep-checkmark: "\e969";
$icon_icon-nextstep-compare: "\e96a";
$icon_icon-nextstep-configure: "\e96b";
$icon_icon-nextstep-convince-someone: "\e96c";
$icon_icon-nextstep-corporate-topics: "\e96d";
$icon_icon-nextstep-dealer: "\e96e";
$icon_icon-nextstep-download: "\e96f";
$icon_icon-nextstep-email: "\e970";
$icon_icon-nextstep-exclamation-mark: "\e971";
$icon_icon-nextstep-favourite: "\e972";
$icon_icon-nextstep-fax: "\e973";
$icon_icon-nextstep-filter: "\e974";
$icon_icon-nextstep-get-your-volkswagen-1: "\e975";
$icon_icon-nextstep-get-your-volkswagen-2: "\e976";
$icon_icon-nextstep-home: "\e977";
$icon_icon-nextstep-image: "\e978";
$icon_icon-nextstep-image-gallery: "\e979";
$icon_icon-nextstep-importer: "\e97a";
$icon_icon-nextstep-info: "\e97b";
$icon_icon-nextstep-locate-me: "\e97c";
$icon_icon-nextstep-mail: "\e97d";
$icon_icon-nextstep-more: "\e97e";
$icon_icon-nextstep-news: "\e97f";
$icon_icon-nextstep-offer: "\e980";
$icon_icon-nextstep-owners: "\e981";
$icon_icon-nextstep-phone: "\e982";
$icon_icon-nextstep-pin: "\e983";
$icon_icon-nextstep-preowned: "\e984";
$icon_icon-nextstep-print: "\e985";
$icon_icon-nextstep-profile: "\e986";
$icon_icon-nextstep-question-mark: "\e987";
$icon_icon-nextstep-responsibility: "\e988";
$icon_icon-nextstep-route: "\e989";
$icon_icon-nextstep-search: "\e98a";
$icon_icon-nextstep-service: "\e98b";
$icon_icon-nextstep-support: "\e98c";
$icon_icon-nextstep-testdrive: "\e98d";
$icon_icon-nextstep-upload: "\e98e";
$icon_icon-nextstep-video: "\e98f";
$icon_icon-nextstep-view: "\e990";
$icon_icon-nextstep-website: "\e991";
$icon_icon-nextstep-write: "\e992";
$icon_ConnectedVan-path1: "\e993";
$icon_ConnectedVan-path2: "\e994";
$icon_ConnectedVan-path3: "\e995";
$icon_ConnectedVan-path4: "\e996";
$icon_icon-gallery-left: "\e997";
$icon_icon-gallery-right: "\e998";
$icon_icon-modeloverview-toggle-XL: "\e999";
$icon_icon-modeloverview-toggle-XS: "\e99a";
$icon_icon-placeholder: "\e99b";
$icon_corazon_vwytu: "\e90b";
$icon_icon-arrow-down: "\e920";
$icon_icon-arrow-up: "\e921";
$icon_icon-arrow-left: "\e922";
$icon_icon-arrow-right: "\e923";
$icon_icon-arrow-left-double: "\e926";
$icon_icon-arrow-right-double: "\e927";
$icon_icon-arrow-down-double: "\e924";
$icon_icon-arrow-up-double: "\e925";
$icon_icon-engine-CO2-emissions: "\e99c";
$icon_icon-engine-automatic: "\e99d";
$icon_icon-engine-diesel: "\e99e";
$icon_icon-engine-electric: "\e99f";
$icon_icon-engine-fuel-consumption: "\e9a0";
$icon_icon-engine-gear-change: "\e9a1";
$icon_icon-engine-hybrid: "\e9a2";
$icon_icon-engine-natural-gas: "\e9a3";
$icon_icon-engine-petrol: "\e9a4";
$icon_icon-engine-power: "\e9a5";
$icon_icon-link-back-to-top: "\e9a6";
$icon_icon-link-compare: "\e9a7";
$icon_icon-link-configure: "\e9a8";
$icon_icon-link-delete: "\e9a9";
$icon_icon-link-download: "\e9aa";
$icon_icon-link-email: "\e9ab";
$icon_icon-link-fax: "\e9ac";
$icon_icon-link-locate-me: "\e9ad";
$icon_icon-link-mail: "\e918";
$icon_icon-link-phone: "\e919";
$icon_icon-link-pin: "\e91a";
$icon_icon-link-print: "\e91b";
$icon_icon-link-reload: "\e91c";
$icon_icon-link-route: "\e91d";
$icon_icon-link-search: "\e91e";
$icon_icon-link-standardlink: "\e91f";
$icon_icon-link-upload: "\e914";
$icon_icon-link-view: "\e915";
$icon_icon-link-website: "\e916";
$icon_icon-link-write: "\e917";
$icon_icon-link-zoom-in: "\e9ae";
$icon_icon-link-zoom-out: "\e9af";
$icon_icon-navigation-business-customers: "\e90c";
$icon_icon-navigation-close: "\e90d";
$icon_icon-navigation-configure: "\e90e";
$icon_icon-navigation-corporate-topics: "\e90f";
$icon_icon-navigation-dealer: "\e910";
$icon_icon-navigation-get-your-volkswagen: "\e911";
$icon_icon-navigation-get-your-volkswagen-1: "\e9b0";
$icon_icon-navigation-get-your-volkswagen-2: "\e912";
$icon_icon-navigation-home: "\e913";
$icon_icon-navigation-importer: "\e900";
$icon_icon-navigation-models: "\e902";
$icon_icon-navigation-menu: "\e901";
$icon_icon-navigation-more: "\e903";
$icon_icon-navigation-news: "\e904";
$icon_icon-navigation-offer: "\e905";
$icon_icon-navigation-owners: "\e906";
$icon_icon-navigation-profile: "\e907";
$icon_icon-navigation-responsibility: "\e908";
$icon_icon-navigation-search: "\e9b1";
$icon_icon-navigation-volkswagen-live: "\e909";
$icon_service: "\e90a";

