.vw_m503 {
  //&_quick_access {
  //  padding: 0 5px;
  //}

  &_quick_access_row {
    font-size: 0;
    @include media($tablet) {
      text-align: right;
    }
  }

  &_icon_quick_access {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    width: 25%;
    padding: 0 6px;
    text-align: center;
    box-sizing: border-box;

    @include media($tablet) {
      width: auto;
      margin: 0 0 0 32px;
    }
  }

  &_icon_quick_access:hover &_link_icon {
    background: rgba($grey_100, .5);
  }

  &_link_icon {
    position: relative;
    width: 30px;
    height:30px;
    border-radius: 50%;
    background: rgba($grey_100, .3);
    margin: auto;
    color: #fff;
    margin-bottom: 6px;

    &::before {
      font-size: 2.8rem;
      line-height: 30px;
    }
  }

  &_link_label {
    color: $grey_100;
    word-wrap: break-word;
  }

  &_quick_access_inverted {
    color: $inverted;
  }
}
