include ./item

mixin m503_quick_access_bar(items)
    //-[
        [link, text, icon, className],
        [link, text, icon, className],
        [link, text, icon, className],
        [link, text, icon, className]
        ]
    nav.vw_m503_quick_access&attributes(attributes)
        .vw_m503_quick_access_row
            each item in items
                +m503_quick_access_bar_item(item)
