mixin m503_quick_access_bar_item(data)
    -
        link = data[0]
        text = data[1]
        icon = data[2]
        className = data[3]

    .vw_m503_icon_quick_access
        a(href=`${link}`, target='_self')&attributes(attributes)
            .vw_m503_link_icon.hasicon(class=`${icon}`)
            .vw_m503_link_label
                =text
