@function is-not($value) {
  @return if($value, false, true);
}

// Checks if a number is even
@function is-even($int) {
  @return $int % 2 == 0;
}

@function not-belongs-to($tested-item, $list) {
  @return is-not(index($list, $tested-item));
}

// Checks if an element belongs to a list or not
@function belongs-to($tested-item, $list) {
  @return is-not(not-belongs-to($tested-item, $list));
}

$breakpoints: ();

@function new-breakpoint($query: $feature $value) {
  @if is-not(belongs-to($query, $breakpoints)) {
    $breakpoints: append($breakpoints, $query, comma) !global;
  }

  @return $query;
}

$z-layers: (
'body'
) !default;

@function z-index($layer_name) {
  @return index($z-layers, $layer_name);
}
