include ./sub/link-element
include ./sub/social-element
include ./sub/legal-element

footer.vw_m520_global_footer
    .vw_m520_topbar.container-fluid
        .gridcontainer
            div.grid_sm_12.grid_12.txt_right(href='#vw_page', title='')
                a.vw_m520_topbar_text.vw_m520_links_url.js_go_to_top
                    | К началу
                    span.hasicon.icon_icon-arrow-up-double.vw_m520_topbar_icon
    .container-fluid
        .vw_m520_links.gridcontainer
            .grid_sm_9.vw_m520_hide
                .gridcontainer.vw_m520_links_row
                    +m520_link_element('', 'Фольксваген АГ')
                    +m520_link_element('', 'Пресса о нас')
                    +m520_link_element('', 'Завод Фольксваген')
                .gridcontainer.vw_m520_links_row
                    +m520_link_element('', 'Карьера в Фольксваген')
                    +m520_link_element('', 'Международный Концерн Фольксваген&nbsp;Групп')
                    +m520_link_element('', 'Lorem ipsum')
                .gridcontainer.vw_m520_links_row
                    +m520_link_element('', 'Lorem ipsum')

            .vw_m520_social_links.grid_sm_3.grid_12
                +m520_social_element('https://www.facebook.com/Volkswagenrussia/', 'Volkswagen в Facebook', 'icon_icon-quickaccess-social-facebook')
                +m520_social_element('https://www.facebook.com/Volkswagenrussia/', 'Volkswagen в Facebook', 'icon_icon-quickaccess-social-twitter')
                +m520_social_element('https://www.facebook.com/Volkswagenrussia/', 'Volkswagen в Facebook', 'icon_odnoklassniki')
                +m520_social_element('https://www.facebook.com/Volkswagenrussia/', 'Volkswagen в Facebook', 'icon_icon-quickaccess-social-googleplus')
        .vw_m520_show.vw_m520_other_pages_container.gridcontainer
            select.vw_m520_other_pages_select.js_other_pages_select.grid_12(name='other_pages')
                option(value='') Другие сайты VW Россия
                option(value='http://www.volkswagenag.com/') Volkswagen AG
                option(value='https://www.volkswagen-media-services.com/') Volkswagen Press
                option(value='http://www.volkswagen.com/') Volkswagen International
        .gridcontainer.vw_m520_legal
            .grid_12.grid_sm_9.push_sm_3.vw_m520_legal_links
                +m520_legal_element('#', 'Правовые аспекты')
                +m520_legal_element('#', 'Версия для печати')
                +m520_legal_element('#', 'Лицензия')
                +m520_legal_element('#', 'Карта сайта')
            .grid_12.grid_sm_3.pull_sm_9
                span.vw_m520_copy_text © Volkswagen 2017
        .vw_m520_disc
            .vw_m520_disc_text
                | Представленные на изображениях автомобили могут отличаться от серийных моделей.
                | Телефон горячей линии: 8-800-333-4441
        //.vw_m400_powerLayer
          #powerLayer.vw_powerLayer
            .vw_m400_powerLayer_close
              a(href='#home', title='Close')
                .vw_m400_powerLayer_iconWrapper
            .vw_m400_powerLayer_back
              a(href='#powerLayer', title='Back')
                .vw_m400_powerLayer_iconWrapper

            .vw_m400_powerLayer_share.vw_hidden
              a(title='Share')
                .vw_m400_powerLayer_iconWrapper
            .vw_powerlayer_contentwrapper.vw_js_powerLayer.vw_powerLayer_white
              .vw_powerlayer_content
