include ../m502_main_navigation/index

header#vw_page_header
    .vw_m502
       +m502_main_navigation([
        ['#', 'Модели', 'icon_icon-navigation-models'],
        ['#', 'fsafsd', 'icon_icon-navigation-models'],
        ['#', 'gsdfg', 'icon_icon-navigation-models'],
        ['#', 'dfsgd', 'icon_icon-navigation-models'],
        ['#', 'lhjk', 'icon_icon-navigation-models'],
        ['#', 'cbvncvb', 'icon_icon-navigation-models'],
        ['#', 'jkl;jkl; dgsfg', 'icon_icon-navigation-models'],

       ])
