mixin checkbox(label)
    label.checkbox
        input.checkbox__control(type='checkbox')&attributes(attributes)
        .checkbox__mask.hasicon.icon_icon-nextstep-checkmark
        if label
            span.checkbox__title
                != label
