.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;

  &__control {
    display: block;
    height: 3.0rem;
    width: 3.0rem;
    opacity: 0;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  &__mask {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 3.0rem;
    height: 3.0rem;
    border-radius: $radius;
    background: #fff;
    border: .1rem solid $grey_20;
    box-sizing: border-box;
    &::before {
      position: absolute;
      top: -6px;
      opacity: 0;
      color: #fff;
      font-size: 2.5rem;
      line-height: 3rem;
      text-align: center;
      width: 100%;
      transition-duration: .2s;
      transition-timing-function:  $trans_basis;
      transition-property:  opacity, top;
      visibility: hidden;
    }
  }
  &__control:checked + &__mask{
    background: $primary;
    border-color: $primary;
    &::before {
      opacity: 1;
      top: -1px;
      visibility: visible;
    }
  }

  &__title {
    margin-left: 1.5rem;
    display: inline-block;
    vertical-align: middle;
  }
}
