mixin m502_main_navigation_item(data)
    -
        link  = data[0]
        title = data[1]
        icon  = data[2]

    li&attributes(attributes)
        a.vw_m502_btn(href=`${link}`)
            div.vw_m502_btn__inner
                .vw_m502_icon_wrapper
                    .hasicon(class=`${icon}`)
                        // icon must be here
                span.vw_m502_link_label
                    =title
