@import "~tools";
@import "~globals/fonts/vw_d5_icons/variables.scss";

.vw_m502_main {

  .vw_m502_btn {

    @include media($tablet) {
      @include vertical-align-pseudo();
      display: block;
      padding: 1rem;
      min-height: 8.5rem;
      max-height: 10.5rem;
      border-top: .1rem solid $grey_20;
      text-align: center;
      &:before {
        min-height: 6.5rem;
      }
      &__inner {
        white-space: normal;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
      }
    }
  }

  // svg
  .vw_m502_icon {
    display: inline-block;
    width: 100%;
    height: 100%;

    &_wrapper {
      margin: 0 0 .5rem 0;
      height: 5.5rem;
      font-size: 3rem;

      @include media($tablet) {
        height: 3.0rem;
        display: inline-block;
        .vw_m502_sections & {
          width: 5.0rem;
        }
      }
    }
  }

  // link label
  .vw_m502_link_label {
    @include media($tablet) {
      display: block;
      text-align: center;
      margin: 0 1.0rem;
    }
  }

  //Item flow class
  .js_vw_m502_nav_item_flow {
    display: none;
  }


}

.js_more_collapsed {
  .hasicon:before {
    content: $icon_icon-navigation-menu;
  }
}


