@font-face {
  font-family: 'vw_head';
  src: url('./vwheadoffice-bold-webfont.woff2') format('woff2'),
  url('./vwheadoffice-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'vw_head';
  src: url('./vwheadoffice-regular-webfont.woff2') format('woff2'),
  url('./vwheadoffice-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'vw_text';
  src: url('./vwtextoffice-bold.woff2') format('woff2'),
  url('./vwtextoffice-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}




@font-face {
  font-family: 'vw_text';
  src: url('./vwtextoffice-regular.woff2') format('woff2'),
  url('./vwtextoffice-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
