mixin m502_main_navigation_sub_item(data)
    -
        link  = data[0]
        title = data[1]
        icon  = data[2]

    li
        a.row(href=`${link}`, target='_self')
            .gridcontainer
                .grid_2.grid_sm_3.vw_m502_icon_wrapper
                    .hasicon(class=`${icon}`)
                .grid_10.grid_sm_9.vw_m502_link_label
                    span.vw_m502_link_label_text
                        =title
