extends ../_layout.pug

include ../../components/button/index.pug
include ../../components/input/index.pug
include ../../components/checkbox/index.pug
include ../../components/radio/index.pug

block data
    -
        var data = {
            pageTitle: '_masterpage',
            bodyClass: '_masterpage'
        }

block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atelier-cave-light.min.css")
    .container-fluid
        .js_ghostGridHolder
        // Headings
        .gridcontainer
            .grid_6
                h1 Header h1
                h2 Header h2
                h3 Header h3
                h4 Header h4
                h5 Header h5
            .grid_6
                .h1 Div .h1
                .h2 Div .h2
                .h3 Div .h3
                .h4 Div .h4
                .h5 Div .h5


        // Lists
        .gridcontainer
            .grid_12
                H2 Списки
            .grid_6
                ul
                    each _, x in Array(5)
                        li= 'Строка ' + (x + 1)
            .grid_6
                ol
                    each _, x in Array(5)
                        li= 'Строка ' + (x + 1)


        // Buttons
        .gridcontainer
            .grid_12
                H2.js_ Кнопки


            mixin makeBtns(tag)
                +btn(tag, tag + '.btn')(class='')&attributes(attributes)
                br
                br
                +btn(tag, tag + '.btn.btn_cta')(class='btn_cta')&attributes(attributes)
                br
                br
                +btn(tag, tag + '.btn.disabled')(class='disabled')&attributes(attributes)
                br
                br


            .grid_12.mb50.mt10
                b
                    | Использование:
                pre
                    code.jade.
                        +btn('a', 'Ссылочка')(class="btn_cta" href="#")  /(тег_кнопки, текст)(доп.класс, тип и другие атрибуты тега)/

                +btn('a', 'Ссылочка')(class='btn_cta' href="#")

            .grid_6.grid_sm_2
                +makeBtns('a')(href="#")
            .grid_6.grid_sm_2
                +makeBtns('span')
            .grid_6.grid_sm_2
                +makeBtns('div')
            .grid_6.grid_sm_2
                +makeBtns('button')
            .grid_6.grid_sm_2
                +makeBtns('input')(type="submit")

        // Forms
        .gridcontainer
            .grid_12
                h2.js_ Элементы формы
                b
                    | Использование:
                pre
                    code.jade
                        | +input('Заголовок','Ваше Имя')(type=text)  /(заголовок, плейсходер)(доп.класс, тип и другие атрибуты тега)/
                pre
                    code.jade
                        | +checkbox('Check me')  /(заголовок)(доп.класс, тип и другие атрибуты тега)/
                pre
                    code.jade
                        | +radiobtn('Check me')  /(заголовок)(доп.класс, тип и другие атрибуты тега)/

            .grid_4
                +input('Заголовок','Ваше Имя')(type=text)
                +input('&nbsp;','xjxj')(type=text)
                +input('&nbsp;','Поиск', 'icon_icon-navigation-search')(type=text)
            .grid_4
                +checkbox
                +checkbox('Check me')
            .grid_4
                +radiobtn(name='radio1')
                +radiobtn('Check me')(name='radio1')
