extends ../_layout.pug

include ../../components/m301_homepage_stage_item/index
include ../../components/m503_quick_access_bar/index

block data
    -
        var data = {
            pageTitle: 'stages',
            bodyClass: 'stages'
        }

block content
   +m301_homepage_stage_item
   +m503_quick_access_bar(
       [
           ['#','Тест-дравйв','icon_icon-quickaccess-testdrive',''],
           ['#','В наличии','icon_icon-quickaccess-preowned',''],
           ['#','Конфигуратор','icon_icon-quickaccess-calculator',''],
           ['#','Сравнение','icon_icon-quickaccess-filter','']
       ]
   )
