include ../button/index.pug

mixin m301_homepage_stage_item(header, subheader, link, link_text, img)
    -
        img = img || 'http://loremflickr.com/1024/800/volkswagen';
        link = link || '#';
        link_text = link_text || 'Подробнее';
        header = header || 'Новый тигуан очень новый самый<br> новый, новейщий! Лучшейший!'

    section.row.vw_m301_stage
        .vw_m301_stage_img_container.js_vw_m301_stage_img_container
            a.vw_m301_img_link(rel='nofollow', href=`${link}`, target='_blank')
                .vw_m301_stage_img(style=`background-image: url(${img})`)
        .vw_m301_stage_title.container-fluid
            .gridcontainer
                .grid_12
                    h1.vw_m301_stage_head.js_responsive_header
                        span
                            !=header
                    h3.vw_m301_stage_sub.js_responsive_subheader
                        span
                            =subheader
        .vw_m301_stage_cta.container-fluid.centred
            +btn('a', `${link_text}`)(href='#' class='btn_cta')

