@import '../../globals/style/tools';

.vw_m301_stage {
  position: relative;
  margin-bottom: 8.4rem; // button and margins
  color: #fff;
}

.vw_m301_stage_img_container {
  height: 480px;
}

.vw_m301_stage_img {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.vw_m301_stage_title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: inherit;
  text-align: center;
  box-sizing: border-box;

  @include media($tablet) {
    top: 100px;
  }
}

.vw_m301_stage_head {
  color: inherit;
}

.vw_m301_stage_sub {
  color: inherit;
}

.vw_m301_stage_cta {
  position: absolute;
  top: calc(100% + 2.1rem);
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @include media($tablet) {
    top: auto;
    bottom: 3rem;
  }
}
